<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/reminders">Reminder List</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <% if ( locals.url == "/reminders") { %>
      <a class="nav-item nav-link active" href="/reminders">Reminder List</a>
      <a class="nav-item nav-link" href="/reminder/new">Create</a>
      <a class="nav-item nav-link" href="/reminder/friends">Friends</a>
      <form action="/logout" method="POST" id="logoutForm">
        <a href="javascript:$('#logoutForm').submit();" class="nav-item nav-link">Log out</a>
      </form>
      <% } else if ( locals.url == "/reminder/new") { %>
      <a class="nav-item nav-link" href="/reminders">Reminder List</a>
      <a class="nav-item nav-link active" href="/reminder/new">Create</a>
      <a class="nav-item nav-link" href="/reminder/friends">Friends</a>
      <form action="/logout" method="POST" id="logoutForm">
        <a href="javascript:$('#logoutForm').submit();" class="nav-item nav-link">Log out</a>
      </form>
      <% } else if ( locals.url == "/reminder/friends") { %>
      <a class="nav-item nav-link" href="/reminders">Reminder List</a>
      <a class="nav-item nav-link" href="/reminder/new">Create</a>
      <a class="nav-item nav-link active" href="/reminder/friends">Friends</a>
      <form action="/logout" method="POST" id="logoutForm">
        <a href="javascript:$('#logoutForm').submit();" class="nav-item nav-link">Log out</a>
      </form>
      <% } %>

       <!-- show these routes if current user exist -->
      <% if(locals.currentUser) { %>
        <% if ( locals.url == "/reminders/ytvideos") { %>
          <a class="nav-item nav-link" href="/reminders">Reminder List</a>
          <a class="nav-item nav-link" href="/reminder/new">Create</a>
          <a class="nav-item nav-link" href="/reminder/friends">Friends</a>
          <form action="/logout" method="POST" id="logoutForm">
            <a href="javascript:$('#logoutForm').submit();" class="nav-item nav-link">Log out</a>
          </form>
        <% } %>
        <a class="nav-item nav-link <%= locals.isclicked === "youtubeClicked" ? "active" : ''  %>" 
        href="/reminders/ytvideos"><img width=20 src="/img/ytlogo.png"
            class="img-fluid"></img> Videos</a>
      <% } %>

    </div>
  </div>
</nav>